:root{
    --background: #172A3C;
    --darkbox: #527193;
    --lightbox: #BEE6ED;
    --text: #E5E2DC;
    --click: #EB5658;
    
    background-color: var(--background);
    color: var(--text);
}

header, footer {
    background-color: var(--darkbox);
}

.lightbox {
    background-color: var(--lightbox);
    color: black;
}

#intro{
    
}

#qual{
    
}

#edu{
    
}

#emp{
    
}

#emp1{
    
}

#emp2{
    
}

#vol{
    
}

#hob{
    
}