:root{
    --background: #172A3C;
    --darkbox: #527193;
    --lightbox: #BEE6ED;
    --text: #E5E2DC;
    --click: #EB5658;
    
    background-color: var(--background);
    color: var(--text);
}

a{
    color: var(--click);
}

h2{
    border: 2px dashed var(--background);
}

header, footer {
    background-color: var(--darkbox);
    border: 2px black solid;
    border-radius: 4px;
}

nav{
    background-color: var(--text);
    align-items: center;
}
nav ul{
  display: flex;
  direction: row;
  justify-content: space-around;
    border: 2px solid black;
    padding: 2% 5%;
}

td, th {
    border: 2px solid;
}
tr:nth-child(even){
    background-color: var(--background);
}
tr:nth-child(odd){
    background-color: black;
}

tr:hover{
    color: olivedrab;
}

.lightbox {
    background-color: var(--lightbox);
    color: black;
    border: 2px black solid;
    border-radius: 4px;
}

.lightbox:hover{
    border-color: white;
}


@media screen and (min-width:850px){
    article{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 3fr 3fr;
    }  
}

#intro{
    
}

#qual{
    
}

#edu{
    
}

#emp{
    
}

#emp1{
    
}

#emp2{
    
}

#vol{
    
}

#hob{
    
}